main {
    padding-top: 20px;
    margin-top:  50px;
}

.background {
    background: url("../images/subset.jpeg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}
.package {
    border: 4px solid #0e4f1f;
    border-left: none;
    width:80%;
    margin-top: 16px;

}
.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 30px;
    position: relative;
}

.package-title {
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.package-subtitle {
    color: #979797;
}

.package-info {
    background: white;
    color: #0e4f1f;
    border: 1px solid #0e4f1f;
    padding: 20px;
    font-size: 20px;
}

.package__badge {
    position: absolute;
    top: 0;
    right:0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 8px;
    z-index: 2;
}
.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left:  4px solid #0e4f1f;;
}
#free:hover{
    border-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package-title {
    color: white;
}
#premium .package-subtitle {
    color: #bbb;
}
